.header11{
    margin-top: 120px;
    margin-bottom: 50px;
}

.about-sec{
    margin-top: 100px ;
    margin-bottom: 40px ;
}


.main-h1{
    /* margin-right: 0px !important; */
    margin-left: 0px;
}

.main-head{
    margin-top: 20px;
    /* margin-left: 40px; */
}

.about-gif{
    margin-left: 200px;
}