.header11{
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-img{
    margin-right: 50px;
    margin-left: -70px;
    margin-top: 40px;
    width: 700px;
    margin-bottom: 40px;
}

.main-head{
    margin-top: 120px !important;
    margin-left: 40px;
}

.main-h1{
    margin-left: 40px !important;
}

.main-h2{
    margin-top: 20px;
    margin-left: 40px;
}